<div>
  <h1>footer works!</h1>
  <p *ngFor="let num of array">
<!--   <span> {{ num }}</span>-->

<!--    <span *ngIf="num % 2 != 0">{{num}}</span>-->

    <span *ngIf="num != 4">{{num}}</span>
<!--    <span *ngIf="num === 4">{{num}}</span>-->
  </p>

  <form>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fisrt Name</mat-label>
        <input matInput placeholder="Fisrt Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname">
      </mat-form-field>
    </p>

    <input type="text" placeholder="Last Name">
    <button>Submit</button>
  </form>
</div>
