<app-header [title]="headerTitle"></app-header>
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<button mat-raised-button color="primary" routerLink="/profile">Primary</button>
<button mat-raised-button color="primary" routerLink="/product">Products</button>

<div>
  <form *ngIf="formGroup" [formGroup] ="formGroup" class="example-form">
    <p>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>First Name</mat-label>
        <input formControlName="name" matInput placeholder="Fisrt Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input formControlName="surname"   matInput placeholder="Surname">
      </mat-form-field>
    </p>

    <button (click)="onFormSubmit()">Submit</button>
  </form>
</div>

<hr>
<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>

<app-footer></app-footer>

