<app-header [title]="headerTitle"></app-header>
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
<button mat-raised-button color="primary">Primary</button>

<div>
  <form *ngIf="formGroup" [formGroup] ="formGroup">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input formControlName="name" matInput placeholder="Fisrt Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input formControlName="surname"   matInput placeholder="Surname">
      </mat-form-field>
    </p>

    <button (click)="onFormSubmit()">Submit</button>
  </form>
</div>

<app-footer></app-footer>

